<ion-content [scrollY]="false" [fullscreen]="true">

  <ion-row id="container">
    <!--<ion-col class="ion-align-self-start">
      ion-col [start]
    </ion-col>-->
    <ion-col class="ion-align-self-center" [formGroup]="form">

      <ion-item>
        <ion-label position="stacked">Nombre de usuario</ion-label>
        <ion-input type="text"  formControlName="username" placeholder="Introducir usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo electronico</ion-label>
        <ion-input type="email"  formControlName="email" placeholder="Introducir email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password"  formControlName="contrasena" placeholder="Introducir contraseña"></ion-input>        
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input type="password"  formControlName="contrasenaConfirmacion" placeholder="Introducir contraseña nuevamente"></ion-input>        
      </ion-item>      
      <ion-button expand="full" [disabled]="form.valid==false" (click)="registrar()">Crear cuenta</ion-button>
      <ion-button expand="full" fill="outline" routerDirection="root" [routerLink]="['/iniciar-sesion']">Iniciar sesión</ion-button>

    </ion-col>
    <!--<ion-col class="ion-align-self-end">
      ion-col [end]
    </ion-col>-->
  </ion-row>

</ion-content>
